body {

}

h1 {
    font-size: 3em;
  
}

img {
  max-height: 190px;
  max-width: 190px;
}

.head {
  text-align: center;
  margin-bottom: 50px;
}

.row {
  clear: both;
}

.gameboard-container{

}

.scoreboard-container {

}

.scoreboard {
  text-align: center;
}

.shaka-scoreboard {

}

.bro-scoreboard {

}

.gameboard {
 
}

.shaka-turn {
  text-align: center;
}

.bro-turn {
  text-align: center;
}

.none {
  display: none;
}

.seperator {
  width: auto;
}

.grid {
  float: left;
  width: 200px;
  height: 200px;
  display: inline;
}

.gameboard-row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0px auto;
}

.top-left {
  border-right: 5px solid;
  border-bottom: 5px solid;
  display: inline-block;
  margin-left: auto;
}

.top-center {
  border-right: 5px solid;
  border-left: 5px solid;
  border-bottom: 5px solid;
  display: inline-block;
}

.top-right {
  border-left: 5px solid;
  border-bottom: 5px solid;
  display: inline-block;
  margin-right: auto;
}

.middle-left {
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-top: 5px solid;
}

.middle-center {
  border: 5px solid;
}

.middle-right {
  border-left: 5px solid;
  border-top: 5px solid;
  border-bottom: 5px solid;
}

.bottom-left {
  border-right: 5px solid;
  border-top: 5px solid;
}

.bottom-center {
  border-right: 5px solid;
  border-top: 5px solid;
  border-left: 5px solid;
}

.bottom-right {
  border-left: 5px solid;
  border-top: 5px solid;
}

.foot {
    padding-top: 50px;
    text-align: center;
}

.shaka {

}

.bro {
    
}

.scores {
  padding: 0px;
  margin: 0px;
  font-size: 10em;
}










